/****************************************************************/
/*index.html*/

.home-body{  width: 80%;  margin: 0 18.2%;  color: #000;  }
.body-first-row{  margin-top: 7.5rem;  width: 100%;  height: 15rem;  }
.character-box, .population-box{  width: 24%;  border: 0;  height: 11rem;  float: left;  text-align: center;  }
.population{  width: 9rem;  height: 11rem;  text-align: left;  margin: 0 auto;  padding-top: 2.5rem;  }
.icon-character{  width: 100%;  height: 100px;  position: relative;  }
.titles{  text-align: center;  font-size: 1rem;  color: #000; }
.character-box h2{  font-size: .8rem;  text-align: left;  width: 80%;  margin: 0 auto;  }
.population-box{  border-left: 1px dashed #a8a8a8;  }
.population span, h2{  font-size: .8rem;  margin: .3rem 0 1rem;  }
.population span{  color: #80B092;  margin-left: .5rem;  }
.steps-learn{  width: 100%;  height: 20rem;  }
.steps{  font-size: .8rem;  /*width: 35%; */ height: 5rem;  display: inline-block;  margin: 2.5rem 0;  }
.no{  display: inline-block;  width: 3rem;  height: 3rem;  background-color: white;  box-shadow: 0 0 .2rem #888888;  font-size: 1rem;  color: #29B078;  text-align: center;  line-height: 3rem;  border-radius: 50%;  margin-right: .4rem;  }
.steps-content{  display: inline-block;  width: 8rem;  vertical-align: middle;  font-size: .8rem;  }
.genius-show{  width: 100%;  height: 28rem;  padding-top: 2.5rem;  }
.genius-box{  width: 22%;  height: 18.5rem;  display: inline-block;  background-color: #fff;  margin: 4rem 3.5% 0 0;  box-shadow: 0 0 .2rem #888888;  }
.genius-show div:nth-last-child(2){  margin:4rem 0 0 0;  }
.genius-avatar{  width: 100%;  height: 8rem;  position: relative;  }
.genius-box h1{  font-size: 1rem;  color: #000;  text-align: center;  }
.genius-box p{  width: 80%;  margin: 1rem auto;  font-size: .8rem;  color: #A8A8A8;  text-align: left;  }
.genius-btns{  display: block;  width: 5rem;  height: 1rem;  margin: 1rem auto;  }
.genius-btns span{  width: .8rem;  height: .8rem;  background-color: white;  box-shadow: 0 0 .2rem #888888;  border-radius: 50%;  margin: 0 .2rem;  float: left;  }
.genius-btns span:first-child{  background-color: #29B078;  }
.cooperative-corporations{  width: 100%;  height: 15rem;  margin-top: 5rem;  }


/****************************************************************/
/*partners.html*/

.home-body h2, .home-body{  font-size: .8rem;  /*color: #000;*/  margin-top: 1rem;  }
.home-body h2 span:first-child{  color: black;  }
.home-body h2 span:last-child{  color: #29B078;  }
.partners-list{  width: 15rem;  height: 35rem;  font-size: .8rem;  background-color: #fff;  display: inline-block;  box-shadow: 0 0 .2rem #888888;  }
.partners-list h1{  font-size: 1rem;  color: #000;  height: 3rem;  line-height: 3rem;  border-bottom: 1px solid #e6e6e6;  margin-bottom: 2rem;  text-align: center;  }
.partners-list li{  display: block;  list-style-type:none;  height: 2rem;  line-height: 2rem;  width: 100%;  color: #29B078;  margin: 2% auto;  }
.partners-list span{  display: inline-block;  width: .5rem;  height: .5rem;  border-radius: 50%;  border: 1px solid #ff650e;  background-color: transparent;  margin-left: 5.5rem;  margin-right: .5rem;  }
.partners-list li:nth-child(3){  color: #ff650e;  }
.partners-list li:nth-child(3) span{  background-color: #f9a372;  }
.Tudou{  width: 45rem;  height:55rem;  float: right;  background-color: #fff;  margin-bottom: 10rem;  padding-bottom: 5rem;  box-shadow: 0 0 .2rem #888888;  }
.Tudou-intro{  width: 100%;  height:10rem;  vertical-align: middle;  position: relative;  }
.box-intro{  display: block;  width: 90%;  height: 6rem;  vertical-align: middle;  position: absolute;  top: 50%;  margin-top: -3rem;  left: 50%;  margin-left: -45%;  }
.Tudou-intro p{  float: right;  width: 31rem;  line-height: 1.5rem;  }
.Tudou-details{  width: 90%;  margin: auto;  }
.Tudou-details p{  display: block;  width: 100%;  line-height: 1.5rem;  margin-top: 2rem;  }

/*************************************************************/
/*positions-list.html*/

.orientations-ul{   font-size: .7rem;   height: 3rem;   line-height: 3rem;    border-bottom: 1px solid #edf1f2;    border-top: 1px solid #d0d6d9;}
.orientations-ul li{  display: inline-block;  list-style-type:none;   width: 3rem;    text-align: center;}
.orientations-ul li:first-child{  color: #a7a7a7; }
.orientations-ul span{   color: black;}
.orientations-ul li .all{   color: white; background-color: #29B078;}
.orientations-title{clear:both;    font-size: .8rem;   color: black;   font-weight: bold;  height: 4rem;   line-height: 4rem;  border-bottom: 1px solid #d0d6d9;}
.orientations-box{    width: 19.5rem; height:23.3rem;   font-size: .6rem;   box-shadow: 0 0 .2rem #888888;  float: left; margin-right: .5rem;   margin-top: 2.5rem; position: relative;}
.home-body ul:last-child{   margin-bottom: 5rem;}
.orientations-box li{   list-style-type: none;}
.orientations-box li.behind {  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  font-size: .8rem;  transform: rotateY(90deg);  backface-visibility: hidden;  background: rgba(0, 0, 0, 0.8);  }
.orientations-box li.behind ul li h3 {  margin-top: 4rem;  margin-bottom: 2rem;  text-align: center;  color: white;  }
.orientations-box li.behind ul li p {  padding: 0 50px;  text-indent: 20px;  text-align: left;  color: white;  }
.orientations-box:hover li.behind {  transform: rotateY(0deg);  transition: 1s;  }
.row1{   width: 19.5rem;   height: 9rem;   border: 1px solid #edf1f2;}
.row1 h1 span{   font-size: 1rem;    color: #000;   font-weight: bold;   display: block;}
.row1 h1{   font-size: .7rem;    color: #000;   width: 11rem;    float: right; margin: 1rem 0;}
.row2 p, .row3 p{   width: 9.1rem;   height: 2rem;   line-height: 2rem;  color: #a7a7a7; padding-left: .5rem;  float: left;   border-bottom: 1px solid #edf1f2;}
.row2 p:first-child, .row3 p:first-child{   border-right: 1px solid #edf1f2;}
.row3 p .font-red{  margin-left: .5rem;}
.orientations-box-2 li:first-child{ width: 7.5rem;  height: 5rem;   line-height: 5rem;   float: left;   text-align: center; border-right: 1px solid #edf1f2;}
.orientations-box-2 li{ width: 11.5rem; height: 1.67rem;    line-height: 1.67rem;    float: left;    border-bottom: 1px solid #edf1f2;}
.time{  color: black;   float: left;    margin-left: .5rem;}
.wage{  color: black;   float: right;   margin-right: .5rem;}
.row5, .row6{   height: 2rem;   line-height: 2rem;  float: left;    padding-left: .5rem;}
.row5{  font-size: .8rem;   color: black;   font-weight: bold;  border-bottom: 1px solid #edf1f2;}
.font-red{  color: red; font-size: .7rem;   font-weight: bold;}
.font-black{    color: black;   font-size: .7rem;}

/*************************************************************/
/*icon*/
/*************************************************************/

/*************************************************************/
/*icon-index*/

i{  display: inline-block;  }
.icon-wechat{  width: 27px;  height: 28px;  background-image: url("img/icon-wechat.png");  background-size: cover;  position: absolute;  top: 50%;  margin-top: -14px;  right: 21rem;  }
.icon-qq{  width: 26px;  height: 26px;  background-image: url("img/icon-qq.png");  background-size: cover;  position: absolute;  top: 50%;  margin-top: -13px;  right: 19rem;  }
.icon-weibo{  width: 30px;  height: 26px;  background-image: url("img/icon-weibo.png");  background-size: cover;  position: absolute;  top: 50%;  margin-top: -13px;  right: 17rem;  }
.carousel{  width: 100%;  height: 100%;  background: url("img/carousel.png");  background-size: cover;  }
.efficient{  width: 50px;  height: 74px;  background-image: url("img/efficient.png");  background-size: cover;  position: absolute;  top: 50%;  margin-top: -37px;  left: 50%;  margin-left: -25px;  }
.normalization{  width: 67px;  height: 59px;  background-image: url("img/normalization.png");  background-size: cover;  position: absolute;  top: 50%;  margin-top: -29.5px;  left: 50%;  margin-left: -33.5px;  }
.contacts{  width: 56px;  height: 59px;  background-image: url("img/contacts.png");  background-size: cover;  position: absolute;  top: 50%;  margin-top: -29.5px;  left: 50%;  margin-left: -28px;  }
.avatar-green{  width: 18px;  height: 16px;  background-image: url("img/avatar.png");  background-size: cover;  }
.arrow-green{  width: 32px;  height: 29px;  background-image: url("img/arrow-green.png");  background-size: cover;  vertical-align: middle;  }
.genius{  width: 111px;  height: 111px;  background-size: cover;  position: absolute;  left: 50%;  margin-left: -55.5px;  top: 50%;  margin-top: -55.5px;  }
.genius-1{  background-image: url("img/genius-1.png");  }
.genius-2{  background-image: url("img/genius-2.png");  }
.genius-3{  background-image: url("img/genius-3.png");  }
.genius-4{  background-image: url("img/genius-4.png");  }
.corporations {  margin-top: 3rem;  width: 100%;  height: 120px;  background-image: url("img/corporations.png");  background-size: cover;  }
.qr-code{  width: 93px;  height: 92px;  background-image: url("img/qr-code.png");  position: absolute;  right: 0;  }

/*************************************************************/
/*icon-partners.html*/

.icon-jnshu{  width:116px;  height:54px;  background-image: url("img/icon-jnshu.png");  background-size: cover;  position: absolute;  top: 50%;  margin-top: -27px;  left: 18.3%;  }
.recommend{  width: 1923px;  height: 248px;  background-image: url("img/recommend.png");  background-size: cover;  }
.icon-Tudou{  width: 135px;  height: 43px;  background-image: url("img/icon-Tudou.png");  background-size: cover;    margin: 40px 20px;  }
.icon-web{   width: 140px;   height: 140px;  background-image: url("img/icon-web.png");  background-size: cover;    float: left; margin: 1rem .3rem;}
.star-orange{   width: 16px;    height: 14px;   background-image: url("img/star-orange.png");   background-size: cover; margin-left: .5rem; }