*{
    outline: none;
    font-family: 微软雅黑;
    font-weight: normal;
    color: #fff;
}
body,header,div,ul,ol,dl,li,h1,h2,h3,h4,h5,h6,dt,dd,img,a,span,p,table,td,i,input,button,textarea,form,input,button{padding:0;margin:0;border:none;}
h1,h2,h3{
    margin: 0;
    padding: 0;
    border: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 125%;/*1rem=20px*/
}
body{
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #29bde0;
}
header{
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
}
.home-header{
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #b9e9f5;
}
.home-header span{
    color: #464646;
    font-size: 1rem;
    margin-left: 7%;
    width: 70%;
}
.home-body{
    width: 100%;
    height: 100%;
    margin: auto;
}
.home-body h2{
    height: .9rem;
    font-size:.9rem;
    margin:5% 0 5% 10%;
}
.box{
    width: 22%;
/*    padding: 5% 0;*/
/*    height: 65px;*/
    margin: 4% 5% 2% 5%;
    background-color: #f5c97b;
    float: left;
    text-align: center;
    border: 2px solid #fff;
}

.box h1{
    padding: 28% 0;
    font-size: 1rem;
    color: #565656;
}
.box h3{
    font-size: .5rem;
    width: 100%;
    margin-bottom: 0;
    background-color: #83b09a;
}
footer{
    float: none;
    width: 100%;
/*    height: 6rem;*/
    position: fixed;
    bottom: 0;
    text-align: center;
    background: #29bde0;
    border-top: 1px solid #fff;
}
footer button{
    padding: 2% 25%;
    margin: 5% auto 8%;
    background-color: #fbb435;
    font-size: 1rem;
}
/*icon*/
.icon-top{
    display: inline-block;
    width: 1.5rem;
    height:1.5rem;
    position: absolute;
    top: 50%;
    margin-top: -.75rem;
    background-size: cover;
}
.nav-left-2{
    background-image: url("./img/nav-left-2.png");
    left: 5%;
}
.cross-right{
    background-image: url("./img/cross-right.png");
    right: 5%;
}
.play-yellow{
    display: inline-block;
    width: 1.5rem;
    height:1.5rem;
/*    position: absolute;
    top: 50%;*/
    float: right;
  /*  margin-top: -.75rem;*/
    background-image: url("./img/play-yellow.png");
    background-size: cover;
}
/*
.triangle{
    width: 1.5rem;
    height:1.5rem;
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: -.75rem;
    background-image: url("./img/play-yellow.png");
    background-size: cover;
}*/
