*{
    outline:none;
    font-family:"微软雅黑";
    font-weight: normal;
    color:#fff;  }
body,header,div,ul,ol,dl,li,h1,h2,h3,h4,h5,h6,dt,dd,img,a,span,p,table,td,i,input,button,textarea,form,input,button{padding:0;margin:0;border:none;}
h1,h2,h3{
    margin: 0;
    padding: 0;
    border: none;
}
a{
    text-decoration:none;
}
html{
    font-size: 125%;/*1rem=20px*/
}
body{
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.hover-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
}
header{
    position: fixed;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(95,192,205);
    z-index:1000;
}
header h1{
    height: 2.5rem;
    font-size:1rem;
    line-height: 2.5rem;
    text-align: center;
}
main{
    padding-top: 2.5rem;
}
.home-header{
    position: relative;
    padding-left: 4.16%;
    height: 10rem;
    line-height: 10rem;
    background: url(./img/bg.png) center center;
    background-size: cover;
}
.avatar{
    position: absolute;
    display: inline-block;
    left: 4%;
    top: 50%;
    margin-top: -2.25rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: url(./img/avatar.png) center center;
    background-size: cover;
}
.info-box{
    display: inline-block;
    margin: 4rem 6rem;
}
.home-header h1{
    margin-bottom: 0.6rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 1rem;;
}
.name{
    margin-right: .75rem;
    font-size: 1rem;
}
.age{
    font-size: .8rem;
}
.home-header h2{
    height: .5rem;
    font-size: .5rem;
    line-height: .5rem;
}
.home-body{
    padding-top: .8rem;
}
.home-body h1{
    height: .8rem;
    margin-left: 4%;
    margin-bottom: .8rem;
    padding-left: .7rem;
    font-size: .8rem;
    line-height: .8rem;
    color: rgb(51,51,51);
    border-left: .12rem solid rgb(95,192,205);
}
.info-list-box{
    border-bottom: 1px solid rgb(225,229,231);
}
.info-list-box li{
    margin-left: 4%;
    padding-left: 3.8%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .7rem;
    border-top: 1px solid rgb(225,229,231);
}
.info-list-box li span:first-child{
    padding-right: .6rem;
    margin-right: .6rem;
    border-right: 1px solid rgb(225,229,231);
}
.info-list-box span{
    font-size: .8rem;
    line-height: .8rem;
    color: rgb(51,51,51);
    /*vertical-align: middle;*/
}
.info-list-box .tag i{
    display: inline-block;
    margin-right: .3rem;
    width: .75rem;
    height: .75rem;
    background-image: url(./img/star.png);
    background-size: cover;
}
.info-list-box .title-box{
    color: rgb(153,153,153);
}
.info-list-box b{
    font-size: .8rem;
    line-height: .8rem;
    color: rgb(226,97,99);
}
.info-list-box p{
    display: inline-block;
    width: 60%;
    font-size: .6rem;
    line-height: .6rem;
    vertical-align: middle;
    color: #404040;
}
.btn-box{
    margin: 2.5rem auto;
    height: 2.3rem;
    width: 90%;
    font-size: .8rem;
    text-align: center;
}
.btn-box span{
    display: inline-block;
    height: 2rem;
    width: 46%;
    font-size: .8rem;
    line-height:2rem;
    text-align: center;
    border: 2px solid #5fc0cd;
    border-radius: .25rem;
}
.btn-1{
    margin-right: 2%;
    color: #5fc0cd;
}
.btn-2{
    background-color: #5fc0cd;
}

.tab-box{
    margin: .25rem auto 0;
    width: 45%;
    height: 2rem;
    font-size: .8rem;
    background-color: #55a8b3;
    border-radius: 5px;
}
.tab-box span{
    float: left;
    display: inline-block;
    width:50%;
    height: 2rem;
    font-size: .8rem;
    line-height: 2rem;
    text-align: center;
}
.tab-box .light{
    color: #5fc0cd;
    background-color: #fff;
    border-radius: 5px;
}
.filter-box{
    position: fixed;
    top: 2.5rem;
    left: 0;
    height: 2rem;
    width: 96%;
    padding: 0 2%;
    font-size: .7rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
}
.filter-box div{
    position: relative;
    float: left;
    width: 32%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;

}
.filter-box div:nth-child(2){
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.filter-box span{
    color: #999;
    line-height: .7rem;
}
.filter-box i{
    position: absolute;
    top:50%;
    margin-top: -.15rem;
    right: 7%;
}
.detail-list{
    padding: 4rem 4.2% 2.5rem;
}

.detail-list li{
    position: relative;
    height: 4.5rem;
    font-size:.6rem;
    text-align: left;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.detail-list li:hover .hover-layer{
    opcity: 0.3;
}

.detail-list .date-title{
    font-size:.6rem;
    margin-top: .65rem;
    padding-left: 8%;
    height: .7rem;
    line-height: .7rem;
    color: #999;
    background: url(./img/calendar.png) left center no-repeat;
    background-size: auto 100%;
}
.detail-list .date{
    margin: .5rem 0;
    padding-left:8%;
    height:.7rem;
    color: #333;
    font-size: .6rem;
}
.detail-list .address{
 /*   display: block;*/
    height: .7rem;
    padding-left: 8%;
    color: #999;
    font-size: .6rem;
    line-height: .7rem;
    background: url(./img/shape-2.png) left center no-repeat;
    background-size: auto 100%;
}
.detail-list .price{
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -.4rem;
/*    dispaly: inline-block;*/
    padding-right: 1rem;
    height:.8rem;
    line-height: .8rem;
    font-size: .8rem;
    color: #e63b0e;
    padding-right: 6%;
    background: url(./img/arrow-right.png) right center no-repeat;
    background-size: auto 100%;
}
.function-box{
    position: fixed;
    bottom:0;
    width:100%;
    height: 2.5rem;
    background-color: #f8fafb;
    text-align: center;
}
.function-box .write{
    display: inline-block;
    margin: 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #5fc0cd;
    border-radius: 50%;
}
.function-box span{
    font-size: .5rem;
    line-height: .5rem;
}
.function-box .btn-home{
    position: absolute;
    width: 1.25rem;
    height: 2.5rem;
    line-height: .6rem;
    text-align: center;
    top: 0;
    left: 20%;
}
.function-box .btn-home span{
    color: #5fc0cd;
    width:1.25rem;
}
.function-box .btn-usr{
    position: absolute;
    width: 1.25rem;
    height: 2.5rem;
    line-height: .6rem;
    text-align: center;
    top:0;
    right: 20%;
}
.function-box .btn-usr span{
    color: #999;
}
/*icon*/
.ico-arrow-left{
    display: block;
    position: absolute;
    left: 4%;
    top: 50%;
    margin-top: -.5rem;
    width: .55rem;;
    height: 1rem;
    background-image: url(img/arrow-left.png);
    background-size: cover;
 }
.ico-shape-1{
    display: inline-block;
    margin-right: .4rem;
    width: .45rem;
    height: .6rem;
    background-image:  url(./img/shape-1.png);
    background-size: cover;
}
.ico-map{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(./img/ico-map.png);
    background-size: cover;
    position: absolute;
    top: 20%;
    right:5%;
}
.arrow-down{
    display: inline-block;
    width: .3rem;
    height: .3rem;
    background-image: url(./img/arrow-down.png);
    background-size: cover;
}
.ico-write{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(./img/ico-write.png);
    background-size: cover;
}
.ico-home{
    display: block;
    margin: .4rem auto 0;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(./img/ico-home.png);
    background-size: cover;
}
.ico-usr{
    display: block;
    margin: .4rem auto 0;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(./img/ico-usr.png);
    background-size: cover;
}